<div class="card border-0" style="width: 18rem;">
    <div class="d-flex justify-content-center">
        <img class="card-img-top rounded-circle w-75" src="https://lh3.googleusercontent.com/Xkiy5CVLZoVoKncRjpRoW6T_LagYXdApWObbaC6hUXetAkxQjk_4zIDUEoUPLhwjCk4jaceN4GgnB-ttO95zRqFhm2GpVF1tHSYVPZ9mh5jwC5JSNVhkThDf89VZA__MS6UWQUEfjfkfHsYtIymRRP79-Xh9he5g_Wj5DWe63s8NcKV_bIQ9nUb-lNmnPmzKyNQP31_IaVb7xry5l72fAwF4j11YsOp4uPHxX2_oGGg3JynrHILGeiA6WajuArsIxcosA5LpV2jGoLHvSYNSejZVR7ZxGR0GzargJGhhaG7GsEDS9HB3E7RzkDmWQucq175iauDqsHpyYWZa7VIPRiMlUVMYE3zZD08w5Dvq932HUZFVH7cfIoQ7zm-GQi-nzcPhA3MXvuTZjTSQ98bMd4StD2xotS7fq2EpAJrPTgpUn6FcW1FcPFYq1fkfiY08v2nWCb_HJVEqpFt0GSBMjajZLMDclgHNb3t9ZrB_jkpZQFuXa-vB57cUCMTYoNvwdkWB_j65DbDfSAgP0os2LfInz6e4OsG1xMuOGPbvDC5IYgoBdcP9Vt0IuQct34Pybh-3w44BJFcKzlKFlf1F-NkUtwHvF3fxcimQUhqFogrpOz1mLouvnBxBTo40ETgPh7BSkWYzDhKF8Fd1vkrehEd_hrgeXjy44uoQeR3anL8V2uZUKDXJ79YxbPuNuZ8=w634-h625-no?authuser=0" alt="Imagem de capa do card, minha foto pessoal">
    </div>

    <div class="card-body">
      <h5 class="card-title text-center text-monospace">Marcus Vinicius</h5>
      <p class="card-text text-center text-monospace">Aluno de desenvolvimento full-stack na Generation Brasil.</p>

     <a href="https://www.linkedin.com/in/marcus-oliveiro/" class="btn btn-outline-info mb-3 d-flex justify-content-center" target="_blank">LinkedIn</a>

     <a href="https://github.com/MarcusViniciusO" class="btn btn-outline-dark d-flex justify-content-center" target="_blank">GitHub</a>

    </div>
  </div>